// Place all the styles related to the LiveJobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.live-jobs-alerts {
  .flash-container {
    width: 100%;

    .banner-alert {
      text-align: center;
      padding: 20px;
      width: 100%;
      font-size: 1.5rem;
    }
  }
}

.live_jobs {
  margin-bottom: 100px;

  .main {
    background-color: #f8f8f8;
  }

  ul {
    list-style-type: none;
  }

  a:hover, a:visited, a:link, a:active
  {
    text-decoration: none;
  }

  .jobs-section {
    display: flex;
    flex-direction: column;
  }

  .job-listings {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px 20px 20px 20px;
    display: flex;
    flex: 1 1;

    @media (min-width: 992px) {
      padding: 0px 60px 20px 20px;
      width: 72vw;
    }
  }

  .filters-container, .jobs-found, .job-details, .job-right {
    color: #040403;
  }

  #jobs-found-container {
    @media (min-width: 992px) {
      // Make it sticky
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      //

      height: 55px;
      background-color: #f8f8f8;
    }
  }

  .jobs-found {
    color: #3cbfab;

    font-size: 2.5rem;

    text-align: end;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 5px;


    @media (min-width: 992px) {
      font-size: 1.6rem;
      margin-top: 20px;
    }
  }

  .company, .title, .location, .posted {
    display: block;
  }

  .jobs-container {
    display: flex;
    flex: 1;
    flex-direction: column;

    @media (min-width: 992px) {
      flex-direction: row;
    }
  }

  .pagy-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;

    a {
      color: #3cbfab;
    }

    .page-item.active .page-link {
      background-color: #3cbfab;
      border-color: #3cbfab;
    }
  }
}
