<div class="jobs_review">
  <div class="main">
    <div class="jobs-container">
      <ul class=job-listings>
        <div id="jobs-found-container">
          <h3 class="jobs-found">We have found <span class="jobs-count"><%=@jobs.count %></span> jobs</h3>
        </div>

        <%= render 'jobs' %>

      </ul>
    </div>
  </div>

  <%= javascript_pack_tag 'jobs_viewer' %>
</div>
