<div class="placeholder-page">
  <div class="page">
    <header class="header-container <%= "header-container-live-jobs" if local_assigns[:logged_in] %>">
      <nav class="navbar">
        <div class="logo">
          <a href="/">Primo<span class="logo-end">Dev</span></a>
        </div>
      </nav>
    </header>

    <div class="page-content-wrap">
      <div class='wip-warning'>WIP! This website is being redesigned after a pivot. Be back soon...</div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
