<% unless local_assigns[:dont_include_flash] %>
  <div class="live-jobs-alerts">
    <%= render :partial => "shared/flash_messages" %>
  </div>
<% end %>

<header class="header-container <%= "header-container-live-jobs" if local_assigns[:live_jobs_page] %>">
  <nav class="navbar">
    <div class="logo">
      <a href="/">Primo<span class="logo-end">Dev</span></a>
    </div>
    <div class="account-buttons">
      <% if current_user %>
        <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, class: 'sign-out-button shared-button' %>
      <% else %>
        <a href="/users/sign_in">
          <div class="login-button">Log in</div>
        </a>
        <a href="/users/sign_up">
          <div class="sign-up-button shared-button">Sign up</div>
        </a>
      <% end %>
    </div>
  </nav>
</header>