<%= link_to 'About', page_path('about') %>

  <div class="header-container">
    <h1 class="page-title">Primo<span id="title-end">Dev</span></h1>
    <h2 class="page-subtitle">Find your first developer job</h2>
  </div>
