<%= render 'shared/header' %>

<div class="about-us-page">
  <h1 class="our-mission-title">- Our Mission -</h1>
  To help people who do not have a computer science degree get their first software developer job.

  <h2 class="about-title">About</h2>
  <p>Hey, I'm Rob and I created this website. </p>
  <p>
    I was in your shoes about 3 years ago and now I'm a mid-level Ruby developer working for an insure-tech company in London.
    My previous career was working in recruitment for 5 years, including 3 years recruiting software developers in a large tech firm.
    I've been on both sides of the table - as someone hiring people looking for their first developer job and as someone who has gone through that process themselves.
  </p>
  <p>Finding your first developer job can be hard, physically, mentally and emotionally. I want to use all my personal experience as a recruiter and as a career changer to make it easier for you.  </p>
</div>

<%= render 'shared/footer' %>