<div class="homepage">
  <div class="live-jobs-alerts">
    <%= render :partial => "shared/flash_messages" %>
  </div>

  <div class="page homepage-page">
    <%= render partial:'shared/header', locals: { dont_include_flash: true } %>

    <div class="page-content">
      <div class="blurb">
        <div class="written">
          <div class="tag">Built for self-taught or boot camp developers</div>

          <div class="headline">Secure your first dev job <span class="highlight">faster and easier</span>. Made for people without computer science degrees or commercial experience</div>

          <div class="description">
            <div class="text">
              We do all the hard work for you, showing you suitable jobs from the best job boards on the internet every day.
              So you can spend your time applying or building your portfolio rather than searching.
            </div>
            <div class="mobile-image-container">
               <div class="mobile-image"></div>
            </div>
          </div>

          <a href="/users/sign_up">
            <div class="shared-button">Sign Up For Free</div>
          </a>
        </div>
        <div class="image-container">
          <div class="image"></div>
        </div>
      </div>

      <div class="tag-line">We search through job boards daily so that you don't have to...</div>

      <div class="job-boards">
        <div class="board-logo">
          <div class="indeed"></div>
        </div>
        <div class="board-logo">
          <div class="totaljobs"></div>
        </div>
        <div class="board-logo">
          <div class="technojobs"></div>
        </div>
        <div class="board-logo">
          <div class="google"></div>
        </div>
        <div class="board-logo">
          <div class="reed"></div>
        </div>
        <div class="board-logo">
          <div class="glassdoor"></div>
        </div>
      </div>

      <div class="video">

        <iframe width="640" height="385" src="https://www.youtube.com/embed/ulxvpZJyA4g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
