<div class="homepage">
  <div class="page homepage-page">
    <div class="header-container">
      <div class="logo">
        Primo<span class="logo-end">Dev</span>
      </div>
      <div class="account-buttons">
        <a href="/users/sign_in">
          <div class="login-button">Log in</div>
        </a>
        <a href="/users/sign_up">
          <div class="sign-up-button shared-button">Sign up</div>
        </a>
      </div>
    </div>
    <div class="page-content">
      <div class="blurb">
        <div class="written">
          <div class="tag">#No1 Platform for finding your first dev job</div>

          <div class="headline">Secure your first dev job <span class="highlight">3x faster</span>. Made for people without computer science degrees or commercial experience</div>

          <div class="description">
            <div class="text">
              We do all the hard work for you, showing you suitable jobs from the best job boards on the internet every day.
              So you can spend your time applying or building your portfolio rather than searching.
            </div>
              <div class="mobile-image"></div>
          </div>

          <a href="/users/sign_up">
            <div class="shared-button">Sign Up For Free</div>
          </a>
        </div>
        <div class="image"></div>
      </div>

      <div class="tag-line">We search through dozens of job boards daily so that you don't have to...</div>

      <div class="job-boards">
        <div class="indeed"></div>
        <div class="totaljobs"></div>
        <div class="technojobs"></div>
        <div class="google"></div>
        <div class="reed"></div>
        <div class="glassdoor"></div>
      </div>
    </div>


  </div>
  <%= render 'shared/footer' %>
</div>
