<div class="logged-out-homepage">
  <div class="page">
    <div class="header-container">
      <div class="logo">
        Primo<span class="logo-end">Dev</span>
      </div>
      <div class="account-buttons">
          <div class="login-button">Log in</div>
          <div class="sign-up-button shared-button">Sign up</div>
      </div>
    </div>

    <div class="page-content-wrap">
      Hello there
    </div>

    <%= render 'shared/footer' %>
  </div>
</div>
