<div class="filters-background">
  <div id="filter-header-container">
    <span id="filter-header">Filter results</span>
    <img id="filter-image" class="js-filter-image" alt="filter-dropdown" src="<%=asset_path('dropdown-circle.png')%>"></img>
  </div>

  <div class="filter js-filter-container hide-filter">
    <span class="filter-title">Location</span>

    <select class="location-dropdown">
      <option>London</option>
      <option>More coming soon...</option>
    </select>

    <span class="filter-title">Date Range</span>

    <div class="checkbox-container js-filter js-date-range">
      <div id="date-range-anytime" class="filter-box js-date-range-checkbox checked-date-filter"></div>
      <span class="filter-text">Posted anytime</span>
    </div>

    <div class="checkbox-container js-filter js-date-range">
      <div id="date-range-today" class="filter-box js-date-range-checkbox"></div>
      <span class="filter-text">Posted today</span>
    </div>

    <div class="checkbox-container js-filter js-date-range">
      <div id="date-range-3-days" class="filter-box js-date-range-checkbox"></div>
      <span class="filter-text">Posted last 3 days</span>
    </div>

    <span class="filter-title">Experience</span><span id="js-filter-experience-question" class="question-mark js-toggle-title-question"></span>
    <div id="js-experience-question-text" class="question-text js-title-question-text">We don't show jobs that require experience by default, but it's common for people to apply to jobs asking for minimal experience</div>

    <div class="experience-container js-filter js-filter-tag">
      <div class="checkbox-container">
        <div id="filter-tag-requires-experience" class="filter-box js-filter-tag-checkbox"></div>
        <span class="filter-text"> Include jobs that ask for some experience</span>
      </div>
    </div>

    <span class="filter-title">Education</span><span id="js-filter-title-question" class="question-mark js-toggle-exp-question"></span>
    <div id="js-title-question-text" class="question-text js-exp-question-text">We don't show jobs that require degrees by default, but it's common for people to apply to jobs asking for minimal experience</div>

    <div class="experience-container js-filter js-filter-tag">
      <div class="checkbox-container">
        <div id="filter-tag-requires-stem-degree" class="filter-box js-filter-tag-checkbox"></div>
        <span class="filter-text "> Include jobs that ask for degree</span>
      </div>
    </div>
  </div>
</div>
