<ul class=job-listings>
  <div class="jobs-found-section">
    <div class="job-alerts-container">
      <a href="/users/sign_up">
        <div class="shared-button"> Get Job Alerts</div>
      </a>
    </div>
    <div id="jobs-found-container">
      <h3 class="jobs-found">We have found <span class="jobs-count"><%= @total_jobs_count%></span> jobs</h3>
    </div>
  </div>

  <%= render 'jobs' %>

  <% if @show_pagination %>
    <div class="pagy-container flex-wrap pagination">
      <%== render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} %>
    </div>
  <% end %>
</ul>

