<ul class=job-listings>
    <div id="jobs-found-container">
      <h3 class="jobs-found">We have found <span class="jobs-count"><%= @total_jobs_count%></span> jobs</h3>
    </div>

  <%= render 'jobs' %>

  <% if @show_pagination %>
    <div class="pagy-container flex-wrap pagination">
      <%== render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} %>
    </div>
  <% end %>
</ul>

