<div class="page">
  <%= render 'shared/header' %>

  <div class="live_jobs">
    <div class="main">
      <div class="jobs-container">
        <div class="filters-container js-filters-container shortened-mobile-filter-container">
          <%= render 'filters' %>
        </div>

        <div class="jobs-section">
          <div class="js-job-listings">
            <%= render 'job_listings' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render 'shared/footer' %>
</div>
