<div class="container job-listings">
  <h3 class="heading">We have found <span class="accent"><%= @jobs.count %></span> jobs</h3>
  <% @jobs.each do |job| %>
    <li>
      <a href="/remote-jobs/toptal-senior-backend-developer-remote-full-time">
        <span class="company"><%= job.company %></span>
        <br>
        <span class="title"><%= job.title %></span>
        <span class="location"><%= job.location %></span>
    </li>
  <% end %>
</div>
