.footer {
  background-color: #3cbfab;
  height: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;

  .copyright {
    color: #ffffff;
    font-size: 1.4em;
    font-weight: bold;
    padding-top: 40px;
    padding-left: 50px;
  }
}