.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFFFFF;
  font-family: sans-serif;
  padding: 40px 50px 30px 50px;

  @media (min-width: 992px) {
    padding: 40px 50px 40px 50px;
  }

  .navbar {
    padding: 0px;
  }

  .logo{
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: -1px;

    @media (min-width: 992px) {
      font-size: 2.5rem;
    }

    a:hover, a:visited, a:link, a:active
    {
      text-decoration: none;
      color: #3cbfab;
    }

    .logo-end {
      color: #04080F;
    }
  }

  .account-buttons {
    display: flex;
    align-items: center;
    font-size: 2rem;

    @media (min-width: 992px) {
      font-size: 1.5rem;
    }

    a:hover, a:visited, a:link, a:active
    {
      text-decoration: none;
      color: #FFFFFF;
    }

    a:hover {
      text-decoration-color: rgba(53, 60, 76, 1);
    }

    .shared-button {
      padding: 10px 30px 10px 30px;
      font-size: 2rem;

      @media (min-width: 992px) {
        font-size: 1.5rem;
        padding: 5px 30px 5px 30px;
      }
    }

    .login-button {
      padding-right: 20px;
      font-weight: bold;
      color: #04080F;

      a:hover, a:visited, a:link, a:active {
        text-decoration: none;
      }
    }
  }
}

.header-container-live-jobs {
  background-color: rgba(53, 60, 76, 1);

  .logo{
    a:hover, a:visited, a:link, a:active
    {
      text-decoration: none;
      color: #FFFFFF;
    }

    .logo-end {
      color: #FFFFFF;
    }
  }

  .shared-button {
    padding: 10px 30px 10px 30px;
    font-size: 2rem;
    background-color: #FFFFFF;
    color: rgba(53, 60, 76, 1) !important;
    font-weight: bold;

    @media (min-width: 992px) {
      font-size: 1.5rem;
      padding: 5px 30px 5px 30px;
    }
  }

  a:hover {
    color: #FFFFFF !important;
  }

  .sign-out-button:hover {
    background-color: #858585;
  }
}