.homepage {
  .header-container {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    font-family: sans-serif;
    padding: 40px 30px 30px 40px;

    .logo{
      font-size: 3rem;
      font-weight: bold;
      color: #3cbfab;

      .logo-end {
        color: #04080F;
      }
    }

    .account-buttons {
      display: flex;
      align-items: center;
      font-size: 2rem;

      a:hover, a:visited, a:link, a:active
      {
        text-decoration: none;
        color: #04080F;
      }

      a:hover {
        text-decoration: underline;
        text-decoration-color: #3cbfab;
      }

      .shared-button {
        padding: 10px 20px 10px 20px;
        font-size: 2rem;
      }

      .login-button {
        padding-right: 20px;
        font-weight: bold;
        color: #04080F;

        a:hover, a:visited, a:link, a:active {
          text-decoration: none;
        }
      }
    }
  }
}