// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.show-rejected-reason {
  display: block;
}

.hide-rejected-reason {
  display: none;
}

.filter-reason {
  color: red;
  padding: 20px 0px 20px 0px;
}

.filter-reason-green {
  color: green;
  padding: 20px 0px 20px 0px;
}

.second-title {
  display: inline !important;
}

.rejected-job, .scraped-job, .approved-job {
  padding-left: 30px;
  text-transform: uppercase;
}

.rejected-job {
  color: red
}
.scraped-job {
  color: orange
}

.approved-job {
  color: green;
}

.url {
  padding-top: 20px;
}

.job-board, .source {
  display: block;
  padding: 5px 0px 5px 0px;
}

.source-title, .job-board-title {
  font-weight: bold;
}

.source-title {
  padding-right: 40px;
}

.update-status-approved, .update-status-rejected {
  padding: 10px;
  border: solid 2px black;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}

.update-status-approved {
  background-color: green;
  color: white;
}

.update-status-rejected {
  margin-top: 30px;
  background-color: red;
  color: white;
}

.status-update-link {
  display: block;
  margin-top: 20px;
}

.reviewed {
  display:none;
}

.show-reviewed {
  background-color: orange;
}

.show-reviewed-jobs {
  padding: 10px;
  border: solid 2px black;
  width: 250px;
  background-color: orange;
  text-align: center;
  border-radius: 10px;
  color: white;
  font-family: Sans-Serif;
  font-size: 1.2rem;
}

#jobs-review-filters-container {
  display: flex;
  justify-content: center;
  margin: 20px 0px 20px 0px;
}