// Place all the styles related to the LiveJobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.live_jobs {
  .main {
    background-color: #f8f8f8;
  }

  ul {
    list-style-type: none;
  }

  a:hover, a:visited, a:link, a:active
  {
    text-decoration: none;
  }

  .jobs-section {
    display: flex;
    flex-direction: column;
  }

  .job-listings {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px 20px 20px 20px;
    display: flex;
    flex: 1 1;

    @media (min-width: 992px) {
      padding: 0px 60px 20px 20px;
      width: 72vw;
    }
  }

  .filters-container, .jobs-found, .job-details, .job-right {
    color: #040403;
  }

  #jobs-found-container {
    @media (min-width: 992px) {
      // Make it sticky
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      //

      height: 55px;
      background-color: #f8f8f8;
    }
  }

  .page-title{
    font-size: 4rem;
    font-weight: bold;
    margin:0px 0px 10px 0px;
    color: #3cbfab !important;
  }

  #title-end {
    color: #04080F;
  }

  .page-subtitle{
    color: #04080F !important;
    font-size: 3rem;

    @media (min-width: 992px) {
      font-size: 2rem;
    }
  }

  .page-subtitle, .page-title {
    color: #ffffff;
  }

  .jobs-found {
    color: #3cbfab;

    font-size: 2.5rem;

    text-align: end;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 5px;


    @media (min-width: 992px) {
      font-size: 1.6rem;
      margin-top: 20px;
    }
  }

  .company, .title, .location, .posted {
    display: block;
  }

  .job {
    padding: 10px;
  }

  .job-details-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffffff;
    border: none;
    padding: 30px 30px 30px 40px;
    border-radius: 20px;
    max-width: 95vw;

    @media (min-width: 992px) {
      padding: 20px 30px 20px 40px;
      max-width: 70vw;
    }
  }

  .job-details {
    flex-grow: 3;
    flex-shrink: 0;
    flex-basis: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 2rem;

    @media (min-width: 992px) {
      font-size: 1.5rem;
    }

    .title {
      font-weight: bold;
      font-size: 2.2rem;
      padding: 10px 0px 10px 0px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;


      @media (min-width: 992px) {
        font-size: 1.7rem;
      }
    }

    .company {
      font-size: 1.9rem;
      font-weight: bold;
      color: #3cbfab;

      @media (min-width: 992px) {
        font-size: 1.2rem;
      }
    }

    .requires-experience, .requires-stem-degree {
      display: flex;
      justify-content: start;
      align-items: center;
    }

    .location {
      display: flex;
      justify-content: start;
      align-items: center;
      width: 150px;
      padding-left: 15px;

      .location-image {
          content: url("map-pin.png");
          width: 15%;
      }

      .location-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-left: 10px;
      }
    }
  }


  .header-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    text-align: center;
    margin-bottom: 10px;
    align-items: center;
    font-family: sans-serif;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    font-size: 2.8rem;
    min-height: 400px;
    justify-content: center;
    background-color: #ffffff;

    @media (min-width: 992px) {
      min-height: 300px;
      font-size: 1.3rem;
    }
  }

  .jobs-container {
    display: flex;
    flex-direction: column;

    @media (min-width: 992px) {
      flex-direction: row;
    }
  }

  .filters {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }


  .shortened-mobile-filter-container {
    @media (max-width: 991px) {
      flex: 0 1 5em;
      height: 5em;
    }
  }

  .hide-filter {
    @media (max-width: 991px) {
      display: none;
    }
  }

  .filters-container {
    background-color: #ffffff;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 2.1em;
    margin-top: 40px;
    border-radius: 20px;
    font-family: sans-serif;

    @media (min-width: 992px) {
      margin-left: 30px;
      margin-right: 20px;
      font-size: 1rem;
      flex: 0 0 20em;
      height: 42em;

      // Make it sticky
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      //
    }
  }

  .filter-title {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2.5rem;

    @media (min-width: 992px) {
      font-size: 1.1rem;
    }
  }

  #filter-header {
    font-family: sans-serif;
    font-weight: bold;
    text-align: start;
    padding: 20px 0px 25px 30px;
    display: block;
    font-size: 3rem;

    @media (min-width: 992px) {
      font-size: 1.6rem;
    }
  }

  #filter-header-container {
    display: flex;
  }

  #filter-image {
    content: url("dropdown-circle.png");
    margin-left: auto;
    padding: 15px;

    @media (min-width: 992px) {
      display: none;
    }
  }

  .filter-text {
    font-family: sans-serif;
    font-size: 2.3rem;
    padding: 0px 0px 5px 0px;

    @media (min-width: 992px) {
      font-size: 1rem;
    }
  }

  .filter {
    padding-left: 30px;
  }

  .filter-box {
    border: grey solid 1px;
    width: 1.8em;
    height: 1.8em;
    background-color: #ffffff;
    margin-right: 15px;
  }

  .checkbox-container, dropdown-container {
    display: flex;
    margin: 15px 0px 10px 0px;
  }

  .tags-container {
    display: flex;
  }
  .tag, .non-filter-tag {
    background-color: #f8f8f8;
    border: solid 1px grey;
    color: #04080F;
    padding: 13px 25px 13px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 7px;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 25px;
    width: 220px;

    @media (min-width: 992px) {
      font-size: 16px;

    }
  }

  .requires-experience:before {
    content: url("requires-experience.png");
    padding-right: 10px;
    vertical-align: top; // stops the text being pushed down
  }

  .requires-stem-degree:before {
    content: url("requires-degree.png");
    padding-right: 10px;
    vertical-align: top; // stops the text being pushed down
  }

  .footer {
    background-color: #3cbfab;
    height: 100px;
  }

  .copyright {
    color: #ffffff;
    font-size: 1.8em;
    font-weight: bold;
    padding-top: 40px;
    padding-left: 50px;
  }

  .checked-tag, .checked-date-filter {
    background-color: #3cbfab;
  }

  .filter a:link,
  .filter a:visited,
  .filter a:hover,
  .filter a:active {
    text-decoration: none;
    color: #040403;
  }

  .pagy-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;

    a {
      color: #3cbfab;
    }

    .page-item.active .page-link {
      background-color: #3cbfab;
      border-color: #3cbfab;
    }
  }

  .posted-container {
    //border: solid red 2px;
    width: 170px;
    display: flex;
    align-items: flex-start;
    justify-content: start;

    .posted-date {
      //border: green solid 2px;
      background: radial-gradient(
                      ellipse at center,
                      rgba(234, 254, 251, 1) 0%,
                      rgba(234, 254, 251, 1) 70%,
                      rgba(234, 254, 251, 0) 70.3%
      );
      height: 60%;
      width: 60%;
      color: rgba(29, 183, 163, 1);
      position: relative;
      margin-top: 5px;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        padding-top: 15px;
        font-weight: bolder;
        font-size: 1.2rem;
      }
    }
  }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      //position: relative;
      //display: inline-block;
      width: 100%;
      margin: 10px 0px 10px 0px;


      /* Dropdown Button */
      .dropbtn {
        width: 70%;
        height: 20%;

        background-color: #f8f8f8;
        color: rgba(56, 66, 89, 1);
        padding: 16px;
        font-size: 16px;
        border: solid 1.5px rgba(209, 216, 227, 1);
        border-radius: 10px;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 1.1em;
        text-align: start;
        padding-left: 40px;
      }

      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }


      /* Links inside the dropdown */
      .dropdown-content a, span {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd;}
    .dropdown-content span:hover {background-color: #ddd;}

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {background-color: #3cbfab; color: #FFFFFF}

}
