.placeholder-page {
  .page-content-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }

  .wip-warning {
    font-size: 70px;
    padding: 0px 50px 0px 50px;
  }
}
