.sign-up-page {
  .shared-button {
    margin-top: 20px !important;
  }

  .register-sub-title {
    color: #FFFFFF;
    text-align: center;
    padding: 0px 0px 30px 0px;
    font-size: 3rem;

    @media (min-width: 992px) {
      font-size: 1.5rem;
      padding: 0px 0px 20px 0px;
    }
  }
}