.user-account-form {
  .page-content-wrap {
    font-size: 2.5rem;
    padding-top: 50px;

    @media (min-width: 992px) {
      font-size: 2.5rem;
      padding-bottom: 50px;
    }

    .titles-container {
      text-align: center;
    }

    .title {
      font-size: 3rem;
      font-weight: bold;

      @media (min-width: 992px) {
        font-size: 2.5rem;
      }
    }

    .register-sub-title {
      font-size: 2.2rem;

      @media (min-width: 992px) {
        font-size: 1.8rem;
      }
    }

    .register-sub-title, .register-title {
      padding: 15px 0px 15px 0px;

      @media (min-width: 992px) {
        padding: 10px 0px 10px 0px;
      }
    }

    .account-form {
      padding: 30px 0px 30px 0px;
      width: 70vw;

      @media (min-width: 992px) {
        width: 30vw;
        padding: 20px 0px 20px 0px;
      }
    }

    .account-button {
      display: flex;
      justify-content: center;
      padding: 30px 0px 0px 0px;

      .shared-button {
        font-size: 3rem;

        @media (min-width: 992px) {
          font-size: 1.7rem;
        }
      }

      #send-pwd-instructions {
        font-size: 2.2rem;

        @media (min-width: 992px) {
          font-size: 1.3rem;
        }
      }
    }

    .fields-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;

      br {
        display: none;
      }

      input {
        border: #f8f8f8 1px solid;
        height: 100px;
        margin: 10px 0px 10px 0px;
        background-color: #f8f8f8;
        width: 100%;

        @media (min-width: 992px) {
          height: 50px;
        }
      }

      .field_with_errors {
        width: 100%;
        padding: 0px;
      }
    }

    .form-field {
      width: 95%;
    }

    .form-field-container {
      display: flex;
      justify-content: center;
    }

    .field {
      padding: 10px 0px 10px 0px;
      width: 100%;
      font-size: 2.5rem;

      label {
        padding-left: 20px;
      }

      @media (min-width: 992px) {
        padding: 0px;
        font-size: 1.5rem;
      }
    }

    #error_explanation {
      background-color: rgba(234, 254, 251, 1);
      padding: 50px;

      @media (min-width: 992px) {
        padding: 25px;
      }

      h2 {
        font-size: 2.5rem;
        display: none;
      }

      li {
        font-size: 2.2rem;

        @media (min-width: 992px) {
          font-size: 1.5rem;
        }
      }
    }

    .error-heading {
      font-size: 2rem;
    }

    //
  }
}